<!-- this form is to get the user preferences like destination, duration, interest, budget -->
<!-- the form is a post request to the create action in the itineraries controller -->

<%= form_with url: itineraries_path, method: :post, class:"max-w-[800px] w-full" do |f| %>
  <div class="flex justify-between">
    <%= f.label :destination, 'Choose your destination' %>
    <%= f.select :destination, @destinations.collect { |d| [d.name, d.id] } %>
  </div>

  <div class="flex justify-between">
    <%= f.label :num_days, 'Duration (in days)' %>
    <%= f.number_field :num_days, min: 1, max: 4 %>
  </div>

  <div class="flex justify-between">
    <%= f.label :interest, 'What are you interested in?' %>
    <div class="flex flex-col">
    <% @interests.each do |interest| %>
      <div class="flex items-center">
        <%= f.check_box :interest_ids, { multiple: true }, interest, nil %>
        <%= f.label :interest_ids, interest %>
      </div>
    <% end %>
    </div>
  </div>

<!--
  <div class="flex justify-between">
    <%= f.label :budget, 'Budget (in USD)' %>
    <%= f.number_field :budget %>
  </div>
-->

  <div class="flex justify-between">
    <%= f.submit 'Create Itinerary', class: "bg-black text-white p-4 cursor-pointer" %>
  </div>
<% end %>

